<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="NorthwindConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\Northwind.mdb;Persist Security Info=True"
      providerName="System.Data.OleDb" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" defaultLanguage="vb"/>
  </system.web>
</configuration>